.ui.container {
  font-family: 'Cabin Condensed', sans-serif;
}

.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: 760px) {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
  }
}

/* display: grid;
height: 100vh;
grid-template-rows: auto 1fr auto;  */
