h1 {
  font-family: 'Lobster', cursive;
  font-size: 75px;
  margin-top: 3px;
}

.home{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

p {
  font-size: 25px;
  margin-bottom: 0px;
}

.typing{
  display: inline;
  color: #db2828;
  font-weight: bold;
}

img {
  max-width: 500px;
}